extends layout.pug
//- Stylesheet and fonts for homepage
append css
    link(rel="stylesheet" href=`${getAssetPath('css/home.css')}`)  

block content
    //- BANNER
    section#main-Banner
        .d-flex#banner-container
            .container.d-flex.align-items-center#banner-flex
                #banner-title-wrap.rounded
                    p.sub-title-font  Need Help...
                    #banner-heading Being Life Saver <br/> For Someone
                    .d-flex.text-center.align-items-center#banner-shape
                        .col-sm-1.border.border-white.rounded-circle.d-none.d-lg-block#circle-shape
                        .col-sm-5.border.border-white.border-2.d-none.d-lg-block#shape-line
                        .col-sm-9.col-md-8.col-lg-5.border.border-white.border-2.rounded-pill#shape-text BELOW POVERTY LINE

                    .text-start.mt-5#banner-buttons
                        a.btn.rounded-pill.red-button-green-hover(href='/join-us') DONATE
                        a.btn.ms-1.ms-sm-4.mt-2.mt-sm-0.rounded-pill.white-button-green-hover#banner-discover-button(href='/activereq') DISCOVER

    //-ABOUT US INTRO
    section#about-us-intro 
        .container 
            .row.text-center.text-md-start
                .col-lg-4.col-md-12#col1
                    h2.sub-heading-font Register as a Contributor
                    p.para-font-style Donating to provide healthy food for children is an important way to support their health and well-being. 
                    a.btn.rounded-pill.white-button-black-hover(href='/activereq') Discover
                .col-lg-4.col-md-12#col2 
                    h2.sub-heading-font Become a Volunteer
                    p.para-font-style Improve the lives of children by providing them with access to the resources they need to thrive.  
                    a#join-link(href='/join-us') Join Us
                .col-lg-4.col-md-12#col3
                    
                    i.fa-solid.fa-circle.btn.btn-default(data-bs-toggle="modal" data-bs-target="#youtubeVideoModal")
                        i.fa-solid.fa-play
        
        //- Modal
        #youtubeVideoModal.modal.fade(tabindex='-1' aria-labelledby='youtubeVideoModalLabel' aria-hidden='true')
            .modal-dialog.modal-dialog-centered.modal-md
                .modal-content
                    .modal-header
                        h1.modal-title.fs-5 September Event
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body(style="min-height: 315px; min-width: 500px;")
                        iframe(width='100%' height='315' src='https://www.youtube-nocookie.com/embed/Y-CTVrUj1DY' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')

    //- ABOUT US
    section#about-us
        .container#about-us-container
            .row.text-center.text-md-start
                .col-lg-6.col-sm-12.mt-4#about-us-content 
                    .col#about-section-title-wrap
                        p.sub-title-font about us
                        h2.sub-heading-font Help People,<br/> Our Main Goals
                    .col#about-section-content-wrap
                        p.para-font-style Giftabite manages food donation programs for food service companies and Individuals interested in donating food. The donating process is based on donors receiving economic benefit through tax savings in addition to involvement with community and corporate goodwill.
                          <br/> <br/> Our team members have experience with major restaurant chains and retailers in operations and food quality.
                    .col
                        a.btn.rounded-pill.mt-4.red-button-green-hover(href='/about-us') More About
                .col-lg-6.col-sm-12.mt-4#donation-content
                    .d-flex.justify-content-center#donation-list-content
                        ul#about-us-list
                            each item in ['Food Donation', 'Fund Raise', 'Water Supply']
                                li
                                 i.me-2.fa-solid.fa-circle-check.fa-lg(style='color: #77d7d3;')
                                 | #{item}
                    #total-donation-wrap.mt-4 
                        #total-donation-wrap-heading.mb-4
                            h2 Total Donation
                        .col#total-donation-wrap-progress.mb-4
                            .progress(role='progressbar' aria-label='total donation progress bar' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100' style='height: 7px')
                                .progress-bar(style='width: 75%')
                        h3#total-donation.mb-4 Collection - ₹ 5.2 Lakhs
                    .col
                        a.btn.btn-primary.rounded-pill.mt-4.white-button-green-hover(href='/join-us') Donate Now

    //- BECOME VOLUNTEER
    section#become-volunteer-section 
        .container 
            .row.text-center
                .col-sm-12#Become-volunteer-wrap 
                    .col.mb-3#become-volunteer-title-wrap 
                        p.sub-title-font how we help
                        h2.sub-heading-font Join With Humanity To Give <br/> Education For Poor <br/> Children
                    .col.mb-4#become-volunteer-content-wrap 
                        p.para-font-style We work toward this mission by supporting large-scale systemic interventions as well as providing essential food support to underserved communities in the form of raw grains and freshly cooked food.
                    .col
                        img.img-fluid(src=`${getAssetPath('images/Image2.jpg')}`, alt="volunteer content section Mini image")
                    .col#become-volunteer-button
                        a.btn.rounded-pill.mt-4.red-button-green-hover(href='/join-us') Donate Now


    //- OTHER DONATIONS
    section#other-donations
        .container.text-center 
            p.sub-title-font.red-font What else we do 
            h2.sub-heading-font.dark-font.mb-5 More Causes for people in need 
            .row.row-cols-1.row-cols-md-3.gx-3.gx-lg-5.mb-md-4
                .col
                    img.mb-2(src=`${getAssetPath('images/Medicine.svg')}`, alt="Medicine Pills vector") 
                    h2.dark-font Medicine Help 
                    p.para-font-style.grey-font Medical fundraising campaigns are held from time to time, to support malnourished children.
                .col 
                    img.mb-2(src=`${getAssetPath('images/water.svg')}`, alt="Water drop vector") 
                    h2.dark-font Water Delivery 
                    p.para-font-style.grey-font Many parts of India still struggles with proper drinking water, specially during floods.
                .col 
                    img.mb-2(src=`${getAssetPath('images/childcare.svg')}`, alt="Child Care vector") 
                    h2.dark-font Child Care 
                    p.para-font-style.grey-font Children living in slums, orphans and Anganwadi are in need for special attention. 
            .row.row-cols-1.row-cols-md-3.g-3.g-lg-4 
                .col 
                    img.mb-2(src=`${getAssetPath('images/food.svg')}`, alt="Food vector Image") 
                    h2.dark-font Food Delivery 
                    p.para-font-style.grey-font Delivering leftovers from big restaurants chains and parties to remote villages.
                .col
                    img.mb-2(src=`${getAssetPath('images/worldwide.svg')}`, alt="World vector image") 
                    h2.dark-font Outside India 
                    p.para-font-style.grey-font Reaching to similar organizations  in different countries for our causes.
                .col
                    img.mb-2(src=`${getAssetPath('images/Education.svg')}`, alt="Education vector Image") 
                    h2.dark-font Education 
                    p.para-font-style.grey-font Education and awareness programs are organized regularly, even for adults.

    //- NEWSLETTER
    section#newsletter-section
        .container-fluid.p-0
            .row.text-center.text-md-start 
                .col-sm-12.col-lg-6.p-5#newsletter-form 
                    p.sub-title-font subsribe
                    h2.sub-heading-font newsletter
                    p Sign Up Our Monthly Newsletter To Get The Latest News, Events, Volunteer <br/> Opportunities.
                    .col.mt-3#newsletter-form-wrap
                        form(action="/subsribe")
                            input(type="email" placeholder="Enter Your Email Address").rounded-pill
                            button(type="submit").black-button-white-hover.rounded-pill.mt-3.ms-2.ms-sm-4  send
                .col-sm-12.col-lg-6.p-5#recent-gallery-pics
                    .col 
                        p.sub-title-font recent gallery 
                        h2.sub-heading-font take a look at recent gallery pics 
                        button(type="submit").black-button-white-hover.mt-5.rounded-pill recent photos