doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/x-icon" href=`${getAssetPath('images/favicon.ico')}`)
        link(href="images/webclip.webp" rel="apple-touch-icon")
        link(rel="stylesheet", href=`${getAssetPath('css/bootstrap.css')}`)
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel='stylesheet', href=`${getAssetPath('css/style.css')}`)
        link(rel="stylesheet" href=`${getAssetPath('css/header.css')}`)
        link(rel="stylesheet", href=`${getAssetPath('css/footer.css')}`)
        link(rel="stylesheet" href=`${getAssetPath('css/navbar.css')}`)
        link(href="https://fonts.googleapis.com/css2?family=Shippori+Mincho&family=Sue+Ellen+Francisco&display=swap" rel="stylesheet")
        block css
        block script 
            script(src="js/fontawesome.js") 
        title= title
    body 
        block header 
            include partials/header.pug

        include partials/navbar.pug

        block content
        
        script(src=`${getAssetPath('./js/jquery.min.js')}`)
        script(src="./js/bootstrap.bundle.min.js") 
        script(src=`${getAssetPath('js/script.js')}`)
        block scripts 

        block footer
            include partials/footer